.combo-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  font-size: 1.6rem;
  color: #000;
  background: transparent;
  transition: all 0.2s ease-in-out;

  &:focus-within .input-border {
    opacity: 1;
  }

  &.error { // Modifier class for error state
    .input-border {
      box-shadow: 0 0 5px 1px $error;
      opacity: 1;
    }
  }

  &.disabled {
    border-color: transparent;

    .input-border {
      box-shadow: none;
    }
  }

  & button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.combo-box-input {
  background: transparent;
  box-sizing: border-box;
  flex: 1;
  font-size: inherit;
  outline: none;
  border: none;

  &:disabled {
    opacity: 1;
  }

  &::placeholder {
    font-style: italic;
  }

  &.dark {
    color: #fff;
    -webkit-text-fill-color: #fff !important;
  }
}