.link {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: inherit;
  text-decoration: none;

  svg {
    font-size: 2rem;
  }

  &.underline {
    text-decoration: underline;
  }
}