@import "../abstracts/colors";

.list-box {
  max-height: 300px;
  overflow: auto;
  list-style: none;
  padding: 10px 0;
  background: transparent;
  outline: none;
  width: 100%;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
}

.list-box-item {
  padding: 5px 20px;
  background: transparent;
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  outline: none;

  @media screen and (max-width: 700px) {
    font-size: 1.8rem;
  }

  &.focused {
    box-shadow: inset 0 0 1px 2px #fff;
    border-radius: 4px;
  }

  &.selected {
    list-style: disc;
  }
}

.pop-list-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
  box-sizing: border-box;
}

.pop-list-box {
  list-style: none;
  background: transparent;
  outline: none;
  width: 100%;

  &.disabled {
    padding: 0 15px;
  }

  &.flexBoxStyle {
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;
    overflow: hidden;
  }
}

.pop-list-box-item {
  flex: 1 1 calc(50% - 15px);
  position: relative;
  color: #000;
  padding: 5px 0;
  font-size: 1.4rem;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  animation: color 0.2s ease;
  cursor: pointer;

  @media screen and (max-width: 700px) {
    font-size: 1.6rem;
  }

  &:hover {
    color: $vermelho;

    &.disabled {
      color: #000;
    }
  }

  &.disabled {
    cursor: auto;
  }
}

.pop-list-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pop-list-box-input {
  display: contents;
  box-sizing: border-box;
  min-width: 0;

  @media screen and (max-width: 700px) {
    gap: 4px;
  }

  & > label {
    display: none;
  }
  & > div {
    height: 3rem;
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 0 5px;
    @media screen and (max-width: 700px) {
      height: 4rem;
      font-size: 1.6rem;
    }
  }
  & input {
    width: 100%;
    min-width: 250px;
    font-size: 1.4rem;
    height: 3rem;
    border-radius: 5px;
    -webkit-text-fill-color: #000 !important;

    &::placeholder {
      font-style: italic;
      opacity: 0.6;
    }

    @media screen and (max-width: 700px) {
      min-width: 0;
      height: 4rem;
      font-size: 1.6rem;
      opacity: 1;
    }
  }
}
