@import "../abstracts/colors";

.table {
  border-radius: 5px;
  flex: 1 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  box-shadow: 0px 1px 5px -2px #000000;
}

.table-row {
  height: 4.5rem;
  background: transparent;
  cursor: default;

  &.example {
    background: #fafafa;
  }

  &.cursor {
    cursor: pointer;
  }

  td {
    font-weight: 400;

    &.example {
      font-weight: 500;
    }
  }

  @media screen and (max-width: 700px) {
    height: 5rem;
  }
}

.table-cell {
  padding: 0 15px;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &.user {
    border-left: 2px solid $azulCeu;
  }

  &.border-left-yellow {
    border-left: 2px solid rgb(255, 255, 0);
  }

  &.border-left-green {
    border-left: 2px solid $verdeClaro;
  }
}

.table-flex-cell {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: inherit;

  &.error {
    color: $error;
  }
}
