@import "../abstracts/colors";

.tooltip {
  position: absolute;
  z-index: 100;
  left: 5px;
  top: 100%;
  min-height: 3rem;
  max-width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 1rem;
  gap: 5px;
  background: $azulPlanoFundo;
  color: #fff;
  font-size: 1.4rem;
  transform-origin: center 0;
  box-shadow: 0px 3px 5px -2px #000000;

  @media screen and (max-width: 700px) {
    margin: 0 auto;
    width: 90vw;
    left: 50% !important;
    transform: translateX(-50%);
    display: flex;
  }
}

.tooltip-trigger {
  position: relative;
  opacity: 1 !important;
}