.admin-wrapper {
  min-height: 85vh;
  margin: 10vh 10vw 5vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 700px) {
    gap: 20px;
    margin: 50px 0 50px;
    width: 100vw;
  }
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.admin-title-box {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;

  @media screen and (max-width: 800px) {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin-left: 0;
    margin-right: auto;
    padding: 0 15px;
  }
}

.admin-title-select {
  font-size: 1.8rem;

  & > div {
    border: transparent !important;
  }

  & button {
    font-size: 1.8rem;
  }
}

.admin-dialog-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.admin-dialog-title {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 2.2rem;
  }

  @media screen and (max-width: 700px) {
    min-width: auto;
  }
}

.admin-dialog-item {
  font-size: 1.6rem;
  vertical-align: middle;

  span {
    font-size: 2.2rem;
  }
}

.admin-dialog-list-item {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.6rem;
}

.admin-dialog-spinner-container {
  place-self: center;
}

.admin-search-container {
  @media screen and (max-width: 700px) {
    padding: 0 15px;
  }
}

.admin-navigation-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: flex-end;
  justify-self: end;
  font-size: 1.6rem;
  padding: 0 15px;
}

.admin-search-input-box {
  display: flex;

  & > div {
    height: 4.5rem;
    font-size: 1.6rem;
    border-radius: 5px;
    @media screen and (max-width: 700px) {
      height: 5.2rem;
      font-size: 1.8rem;
    }
  }
  & input {
    padding: 0 10px;
  }
}
