@import "../abstracts/mixins";
@import "../abstracts/colors";

.admin-delegation-subtitle {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 15px;
}

.admin-delegation-subtitle-item {
  font-size: 1.6rem;
  vertical-align: middle;

  span {
    font-size: 2.2rem;
  }
}

.admin-delegation-modal-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;

  &.disappear {
    display: flex;
    gap: 15px;

    @media screen and (max-width: 1150px) {
      display: none;
    }

    &.reverse {
      display: none;

      @media screen and (max-width: 1150px) {
        display: flex;
      }
    }
  }
}

.admin-delegation-modal-button-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.admin-delegation-modal-button-list-item {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;

  & > button {
    width: 100%;
    padding: 0 5px;
    outline: none;
    font-size: 1.5rem;
    position: relative;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &:hover {
    transform: translateX(10px);

    &::before {
      background: #fff;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    height: 4px;
    width: 4px;
    border-radius: 2px;
    transition: background 0.3s;
    background: transparent;
  }

  svg {
    flex-shrink: 0;
  }

  @media screen and (max-width: 700px) {
    padding: 0;
  }
}

.admin-delegation-notification {
  max-width: 500px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.admin-delegation-notification-date {
  position: relative;
  width: fit-content;

  &.not-seen {
    &::before {
      z-index: 2;
      position: absolute;
      content: "";
      top: 0;
      right: -8px;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      transition: background 0.3s;
      background: blue;
    }
  }
}

.admin-delegation-notification-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 5px;
}

.admin-delegation-notification-item {
  font-size: 1.4rem;
  display: flex;
  gap: 5px;

  &.array {
    flex-direction: column;

    ul {
      margin-left: 20px;
      list-style: disc;
    }
  }
}

.admin-delegation-documents-buttons-container {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
